body {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgb(0, 0, 0)),
    url(../images/space-wallpaper.jpg);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.frontend-text {
  display: flex;
  width: 91%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 150px;
  color: #fff8af;
  font-family: "Anton", sans-serif;
  line-height: 1;
}

.icons {
  position: relative;
  display: flex;
  align-items: center;
  width: 44%;
}

.icons a {
  display: flex;
  align-items: center;
  padding: 22px;
  border-radius: 50%;
  position: absolute;
}

.icons a:nth-child(1) {
  left: 5%;
}

.icons a:nth-child(2) {
  left: 40%;
}

.icons a:nth-child(3) {
  left: 75%;
}

.icons a:hover {
  background: rgba(255, 255, 255, 0.221);
  transition: all 0.2s;
}

.developer-text {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  font-size: 280px;
  color: #fff8af;
  font-family: "Anton", sans-serif;
  line-height: 1;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 91%;
  font-size: 23px;
  color: #0fabd1;
  font-family: Calibri, sans-serif;
  line-height: 1;
  font-weight: bold;
}

.projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  width: 80%;
  position: relative;
  z-index: 1;
}

.projects-text {
  display: flex;
  justify-content: center;
  font-size: 150px;
  color: #fff8af;
  font-family: "Anton", sans-serif;
  line-height: 1;
}

.projects-slides {
  position: relative;
  width: 100%;
  height: 800px;
  margin-top: 55px;
  background-color: rgb(44, 44, 44);
  z-index: 1;
}

.border {
  top: 204px;
  position: absolute;
  width: 1500px;
  height: 800px;
  border: 1px solid #0fabd1;
}

.border:nth-child(3) {
  left: -1%;
  top: 190px;
}

.border:nth-child(4) {
  left: -2%;
  top: 175px;
}

.border:nth-child(5) {
  left: -3%;
  top: 160px;
}

.border:nth-child(6) {
  right: -1%;
  top: 218px;
}

.border:nth-child(7) {
  right: -2%;
  top: 233px;
}

.border:nth-child(8) {
  right: -3%;
  top: 248px;
}
